
.loginForm{
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #5C2A9D;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.loginFormHead{
    color: #C70039;
    margin: 40px;
}

.inputCont{

    width: 65%;
    margin: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.inputCont>input{
    width: 70%;
    height: 30px;
    border-radius: 8px;
    background-color: #D8B9C3;
}



.credBtns{
    background-color: aqua;
    color: black;
    border: 1px solid transparent;
    margin: 20px;
    padding: 10px 35px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
}